<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - phone_book</title>
        {% else %}
        <title>phone_book</title>
        {% endif %}
    </head>
    <body>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    <h1>Вход</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors%}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        </p>
        <p>{{ form.submit() }}</p>
        <hr>
        <div>
            <a href="{{ url_for('register') }}">Зарегистрироваться</a>
        </div>
    </form>
    </body>
</html>